//colours
$colour-cream: rgb(238, 220, 192);
$font-primary: "Merriweather",
serif;
$colour-ui-shadow: rgba(0, 0, 0, 0.1);
$colour-primarypurple: #4C1364;
$colour-lightpurple: #d0a1e4;
$colour-primaryorange: #B45F09;
$colour-borderdark: rgba(255, 255, 255, 0);
$colour-primarydark: #343a40;